/* 
variables 
*/
:root {
    --main-color: #e6f1f7;
    --text-color: #044973;
    --button-color: #43d2ff;
    --white: #fff;
    --black: #000;
    --border-color: #ccc;
    --main-radius: 20px;
    --circle-radius: 50%;
    --main-transition: 0.3s;
}
/* 
elements 
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', serif;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding-inline: 50px;
    margin-inline: 50px;
}
/* mobile */
@media (max-width: 767px) {
    .container {
        padding-inline: 15px;
        margin-inline: 15px;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        padding-inline: 15px;
        margin-inline: 15px;
    }
}
.main-heading {
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
}
.main-heading span {
    color: var(--text-color);
}
/* Navbar */
header {
    background-color: var(--main-color);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
/* nav > div.logo {} */
nav > div.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row;
}
/* mobile */
@media (max-width: 767px) {
    nav > div.menu {
        flex-direction: row-reverse;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    nav > div.menu {
        flex-direction: row-reverse;
    }
}
nav > div.menu > ul.menu-links {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: row;
    transform: translateX(0);
}
/* mobile */
@media (max-width: 767px) {
    nav > div.menu > ul.menu-links {
        /* display: none; */
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        padding: 20px;
        align-items: center;
        justify-content: center;
        gap: 35px;
        z-index: 999;
        transform: translateX(100%);
        transition: var(--main-transition)
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    nav > div.menu > ul.menu-links {
        /* display: none; */
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        width: 350px;
        height: 100%;
        background-color: var(--main-color);
        padding: 20px;
        align-items: center;
        justify-content: center;
        gap: 35px;
        z-index: 999;
        transform: translateX(100%);
        transition: var(--main-transition)
    }
}
/* laptop */
@media (min-width: 992px) and (max-width: 1199px) {
    nav > div.menu > ul.menu-links {
        transform: translateX(0) !important;
    }
}
/* Desktop */
@media (min-width: 1200px) {
    nav > div.menu > ul.menu-links {
        transform: translateX(0) !important;
    }
}

/* nav > div.menu > ul.menu-links > li {} */
nav > div.menu > ul.menu-links > li > a {
    display: inline-block;
    width: 100%;
    color: var(--black);
    padding: 10px 20px;
    transition: var(--main-transition);
    border-radius: var(--main-radius);
}
nav > div.menu > ul.menu-links > li > a:hover {
    color: var(--white);
    background-color: var(--button-color);
}
/* 
Active Link /
*/
nav > div.menu > ul.menu-links > li > a[href='consultation.html'] {
    color: var(--white);
    background-color: var(--button-color);
}

nav > div.menu > ul.menu-links > .close-menu-btn {
    display: none;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--black);
    font-size: 20px;
    transition: var(--main-transition);
    padding: 4px 8px;
    border: 1px solid var(--border-color);
    border-radius: var(--circle-radius);
}

/* Mobile */
@media (max-width: 767px) {
    nav > div.menu > ul.menu-links > .close-menu-btn {
        display: block;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    nav > div.menu > ul.menu-links > .close-menu-btn {
        display: block;
    }
}

nav > div.menu > ul.menu-icons {
    display: flex;
    gap: 25px;
    align-items: center;
}
/* nav > ul.menu-icons > li {} */
/*
 Mobile Menu 
*/
nav > div.menu > ul.mobile-menu {
    display: none;
    margin-left: 10px;
}
/* Mobile */
@media (max-width: 767px) {
    nav > div.menu > ul.mobile-menu {
        display: flex;
        align-items: center;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    nav > div.menu > ul.mobile-menu {
        display: flex;
        align-items: center;
        
    }
}
/* Mobile Menu */
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* width: 30px; */
    /* height: 21px; */
    background-color: transparent;
    cursor: pointer;
    border: none;
}
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span {
display: block;
height: 3px;
background-color: var(--black);
transition: var(--main-transition);
}
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span {
    width: 15px;
} 
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span:first-child, 
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span:last-child {
    width: 20px;
}

/* overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    transition: var(--main-transition);
}
/* laptop */
/* @media (min-width: 992px) and (max-width: 1199px) {
    .overlay {
        display: none !important;
    }
} */
/* Desktop */
/* @media (min-width: 1200px) {
    .overlay {
        display: none !important;
    }
} */
/* 
    End Navbar
*/
/* 
    Consultation Landing Section 
*/
section.consultation-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
/* mobile */
@media (max-width: 767px) {
    section.consultation-section{
        height: fit-content;
        padding-block: 60px;
        margin-block: 60px;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    section.consultation-section{
        height: fit-content;
        padding-block: 60px;
        margin-block: 60px;
    }
}
section.consultation-section > .container{
    width: 100%;
}
.consultation-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
} 
/* mobile */
@media (max-width: 767px) {
    .consultation-content{
        flex-direction: column-reverse;
        gap: 20px;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .consultation-content{
        flex-direction: column-reverse;
        gap: 20px;
    }
}
.images img {
    /* width: auto; */
    width: 100%;
}
.consultation-content > main {
    font-size: 25px;
    color: var(--text-color);
}
/* mobile */
@media (max-width: 767px) {
    .consultation-content > main {
        text-align: center;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .consultation-content > main {
        text-align: center;
    }
}
.consultation-content > main > h1 {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 35px;
    font-weight: bold;
}
/*
  Our Doctors Section 
*/
.our-doctors-section{
    
}
.our-doctors-section .our-doctors-heading{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
/* mobile */
@media (max-width: 767px) {
    .our-doctors-section .our-doctors-heading{
        flex-direction: column-reverse;
        gap: 20px;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .our-doctors-section .our-doctors-heading{
        flex-direction: column-reverse;
        gap: 20px;
    }
}
.our-doctors-section .our-doctors-heading form{
    position: relative;
    margin-right: auto;
    margin-left: 40px;
}
/* mobile */
@media (max-width: 767px) {
    .our-doctors-section .our-doctors-heading form{
        margin-right: 0;
        margin-left: 0;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .our-doctors-section .our-doctors-heading form{
        margin-right: 0;
        margin-left: 0;
    }
}
.our-doctors-section .our-doctors-heading form input{
    padding: 10px 10px 10px 50px;
    width: 400px;
    border-radius: var(--main-radius);
    outline: none;
    border: 1px solid var(--border-color);
}
/* mobile */
@media (max-width: 767px) {
    .our-doctors-section .our-doctors-heading form input{
        width: 100%;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .our-doctors-section .our-doctors-heading form input{
        width: 100%;
    }
}
.our-doctors-section .our-doctors-heading form .search-icon{
    position: absolute;
    left: 15px;
    top: 55%;
    transform: translateY(-50%);
}
/* 
    Doctors Info
*/
.carousel-container {
    /* overflow: hidden; */
    /* width: 100%; */
    /* position: relative; */
    margin-block: 15px 60px;
    padding-block: 15px 60px;
    
}

.carousel-slide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    width: fit-content;
    transition: var(--main-transition);
}

.doctor-card {
    text-align: center;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.doctor-card{
    border: 1px solid var(--border-color);
    padding-bottom: 20px;
}

.doctor-card img {
    object-fit: cover;
    /* width: auto; */
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.doctor-card h2 {
    color: var(--text-color);
    margin-bottom: 10px;
    font-size: 1.9rem;
}

.doctor-card p {
    color: var(--border-color);
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 0.9rem;
    text-align: center;
}

.consult-btn {
    background-color: var(--button-color);
    color: var(--white);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 40px;
    border-radius: var(--main-radius);
    font-size: 17px;
    transition: var(--main-transition);
}

.consult-btn:hover {
    background-color: #43D2FF;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.nav-arrow {
    background: none;
    border: none;
    font-size: 40px;
    color:#43D2FF ;
    cursor: pointer;
    padding: 5px 15px;
    margin: 0 10px;
    margin-top: 43px;
}

.page-numbers {
    display: flex;
    gap: 5px;
    
}

.page-number {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color:#FFFFFF ;
     border: 1px solid #0000001A ; 
    color: #044973;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
    margin-top: 43px;
}

.page-number.active {
    background-color:#43D2FF ;
    color: white;
}

/* Popup Styles
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.popup-overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup-content {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    padding: 30px;
    text-align: center;
    position: relative;
    transform: scale(0.8);
    transition: all 0.3s;
}

.popup-overlay.active .popup-content {
    transform: scale(1);
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #7f8c8d;
    cursor: pointer;
    background: none;
    border: none;
} */


/* 
    Start Appointment Modal
*/
.appointment-modal {
    display: none;
    height: 95vh;
    background: var(--white);
    box-shadow: 0 4px 15px 10px rgba(0, 0, 0, 0.1);
    width: 550px;
    padding: 35px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: var(--main-radius);
    transition: var(--main-transition);
}
/* mobile */
@media (max-width: 767px) {
    .appointment-modal {
        width: 95%;
        padding: 10px;
    } 
}
.appointment-modal h1 {
    color: var(--text-color);
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.appointment-modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.appointment-modal form aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
}
.appointment-modal form aside div.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.appointment-modal form aside div.input-group > input {
    width: 100%;
}
.appointment-modal form input {
    width: 100%;
    border-radius: var(--main-radius);
    outline: none;
    border: 1px solid var(--border-color);
    padding: 10px 40px;
}
.appointment-modal form div.gender {
    color: var(--border-color);

}
/* .appointment-modal form div.gender h5 {
} */
.appointment-modal form div.gender main {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-block: 20px;
    color: var(--border-color);
}
.appointment-modal form div.gender main > div {
    display: flex;
    align-items: center;
    gap: 15px;
}
.appointment-modal form input[type="submit"] {
    background-color: var(--button-color);
    color: var(--white);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: var(--main-radius);
    transition: var(--main-transition); 
}
.appointment-modal form input[type="submit"]:hover {
    background: var(--text-color);
}
button.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: var(--main-transition);
}
button.close-btn:hover {
    transform: scale(1.1);
}
/* 
    Start Footer
*/
footer {
    background: var(--main-color);
    padding-block: 75px;
}
footer > .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px 30px;
    justify-content: space-between;
}
footer > .container > aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer > .container > aside:last-child {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: center; */
    align-items: center;
}
footer > .container > aside > h4 {
    color: var(--text-color);
    font-weight: bold;
}
footer > .container > aside > p {
    line-height: 1.6;
}
.website-info{
    display: flex;
    gap: 15px;
    align-items: center;
}
footer > .container > aside > ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer > .container > aside.quick-links > ul > li {
    transition: var(--main-transition);
}
footer > .container > aside.quick-links > ul > li:hover {
    transform: scale(1.1);
}
footer > .container > aside.quick-links > ul > li > a {
    color: var(--text-color);
    margin-left: 10px;
}
footer > .container > aside > .social-icons {
    display: flex;
    align-items: center;
    gap: 25px;
}
/* 
    End Footer
*/
