/* 
variables 
*/
:root {
  --main-color: #e6f1f7;
  --text-color: #044973;
  --button-color: #43d2ff;
  --white: #fff;
  --black: #000;
  --border-color: #ccc;
  --main-radius: 20px;
  --circle-radius: 50%;
  --main-transition: 0.3s;
}
/* 
elements 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', serif;
}
.container {
  padding-inline: 50px;
  margin-inline: 50px;
}
/* mobile */
@media (max-width: 767px) {
  .container {
    padding-inline: 15px;
    margin-inline: 15px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding-inline: 15px;
    margin-inline: 15px;
  }
}
.main-heading {
  color: var(--black);
  font-size: 20px;
  font-weight: bold;
}
.main-heading span {
  color: var(--text-color);
}

/* 
Section Health unit
 */
.Health-unit-section {
}
.Health-unit-section .Health-unit-content {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 80px; */
  padding-bottom: 80px;
  border-bottom: 1px solid var(--border-color);
  gap: 20px;
}
/* mobile */
@media (max-width: 767px) {
  .Health-unit-section .Health-unit-content {
    flex-direction: column-reverse;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .Health-unit-section .Health-unit-content {
    flex-direction: column-reverse;
  }
}
.Health-unit-section .Health-unit-content .Health-unit-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 20px;
  flex-basis: 60%;
  height: fit-content;
  border-radius: var(--main-radius);
}
.Health-unit-section .Health-unit-content .Health-unit-info > h1 {
  font-size: 40px;
  font-weight: bold;
}
/* mobile */
@media (max-width: 767px) {
  .Health-unit-section .Health-unit-content .Health-unit-info > h1 {
    font-size: 25px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .Health-unit-section .Health-unit-content .Health-unit-info > h1 {
    font-size: 30px;
  }
}
.Health-unit-section .Health-unit-content .Health-unit-info > p {
  font-size: 16px;
}
.Health-unit-section .Health-unit-content .Health-unit-info > h1,
p {
  line-height: 1.6;
}
/* our clinic */
.our-clinic-section {
  padding-block: 50px;
}
.our-clinic-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 25px;
}

.our-clinic-content .our-clinic-info {
  background-color: var(--white);
  box-shadow: -10px 5px 15px -1px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s 0.1s;
}
.our-clinic-content .our-clinic-info:hover {
  transform: translateY(-10px);
}
.our-clinic-content .our-clinic-info > img {
  width: 100%;
}
.our-clinic-content .our-clinic-info main {
  padding: 20px;
  padding-bottom: 40px;
}
.our-clinic-content .our-clinic-info main > h1 {
  font-size: 25px;
  color: var(--text-color);
}
.our-clinic-content .our-clinic-info main aside {
  display: flex;
  align-items: center;
  gap: 10px;
}
.our-clinic-content .our-clinic-info main aside > img {
}
.our-clinic-content .our-clinic-info main aside > p {
  font-size: 16px;
  color: #777;
}
