/* 
variables 
*/
:root {
  --main-color: #e6f1f7;
  --text-color: #044973;
  --button-color: #43d2ff;
  --white: #fff;
  --black: #000;
  --border-color: #ccc;
  --main-radius: 20px;
  --circle-radius: 50%;
  --main-transition: 0.3s;
}
/* 
elements 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', serif;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-inline: 50px;
  margin-inline: 50px;
}
/* mobile */
@media (max-width: 767px) {
  .container {
      padding-inline: 15px;
      margin-inline: 15px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
      padding-inline: 15px;
      margin-inline: 15px;
  }
}
.main-heading {
  color: var(--black);
  font-size: 20px;
  font-weight: bold;
}
.main-heading span {
  color: var(--text-color);
}
/* Navbar */
header {
  background-color: var(--main-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
/* nav > div.logo {} */
nav > div.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}
/* mobile */
@media (max-width: 767px) {
  nav > div.menu {
      flex-direction: row-reverse;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  nav > div.menu {
      flex-direction: row-reverse;
  }
}
nav > div.menu > ul.menu-links {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: row;
  transform: translateX(0);
}
/* mobile */
@media (max-width: 767px) {
  nav > div.menu > ul.menu-links {
      /* display: none; */
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--main-color);
      padding: 20px;
      align-items: center;
      justify-content: center;
      gap: 35px;
      z-index: 999;
      transform: translateX(100%);
      transition: var(--main-transition)
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  nav > div.menu > ul.menu-links {
      /* display: none; */
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      width: 350px;
      height: 100%;
      background-color: var(--main-color);
      padding: 20px;
      align-items: center;
      justify-content: center;
      gap: 35px;
      z-index: 999;
      transform: translateX(100%);
      transition: var(--main-transition)
  }
}
/* laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  nav > div.menu > ul.menu-links {
      transform: translateX(0) !important;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  nav > div.menu > ul.menu-links {
      transform: translateX(0) !important;
  }
}

/* nav > div.menu > ul.menu-links > li {} */
nav > div.menu > ul.menu-links > li > a {
  display: inline-block;
  width: 100%;
  color: var(--black);
  padding: 10px 20px;
  transition: var(--main-transition);
  border-radius: var(--main-radius);
}
nav > div.menu > ul.menu-links > li > a:hover {
  color: var(--white);
  background-color: var(--button-color);
}
/* 
Active Link /
*/
nav > div.menu > ul.menu-links > li > a[href='health-unit.html'] {
  color: var(--white);
  background-color: var(--button-color);
}

nav > div.menu > ul.menu-links > .close-menu-btn {
  display: none;
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--black);
  font-size: 20px;
  transition: var(--main-transition);
  padding: 4px 8px;
  border: 1px solid var(--border-color);
  border-radius: var(--circle-radius);
}

/* Mobile */
@media (max-width: 767px) {
  nav > div.menu > ul.menu-links > .close-menu-btn {
      display: block;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  nav > div.menu > ul.menu-links > .close-menu-btn {
      display: block;
  }
}

nav > div.menu > ul.menu-icons {
  display: flex;
  gap: 25px;
  align-items: center;
}
/* nav > ul.menu-icons > li {} */
/*
Mobile Menu 
*/
nav > div.menu > ul.mobile-menu {
  display: none;
  margin-left: 10px;
}
/* Mobile */
@media (max-width: 767px) {
  nav > div.menu > ul.mobile-menu {
      display: flex;
      align-items: center;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  nav > div.menu > ul.mobile-menu {
      display: flex;
      align-items: center;
      
  }
}
/* Mobile Menu */
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* width: 30px; */
  /* height: 21px; */
  background-color: transparent;
  cursor: pointer;
  border: none;
}
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span {
display: block;
height: 3px;
background-color: var(--black);
transition: var(--main-transition);
}
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span {
  width: 15px;
} 
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span:first-child, 
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span:last-child {
  width: 20px;
}

/* overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  transition: var(--main-transition);
}
/* laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  .overlay {
      display: none !important;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  .overlay {
      display: none !important;
  }
}
/* 
  End Navbar
*/

/* 
  Section Health unit
*/
.container > div {
  margin-block: 30px 70px;
  padding-block: 30px 70px;
}
.Health-unit-section {
}
.Health-unit-section .Health-unit-content {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 80px; */
  padding-bottom: 80px;
  border-bottom: 1px solid var(--border-color);
  gap: 20px;
}
/* mobile */
@media (max-width: 767px) {
  .Health-unit-section .Health-unit-content {
    flex-direction: column-reverse;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .Health-unit-section .Health-unit-content {
    flex-direction: column-reverse;
  }
}
.Health-unit-section .Health-unit-content .Health-unit-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 20px;
  flex-basis: 60%;
  height: fit-content;
  border-radius: var(--main-radius);
}
.Health-unit-section .Health-unit-content .Health-unit-info > h1 {
  font-size: 40px;
  font-weight: bold;
}
/* mobile */
@media (max-width: 767px) {
  .Health-unit-section .Health-unit-content .Health-unit-info > h1 {
    font-size: 25px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .Health-unit-section .Health-unit-content .Health-unit-info > h1 {
    font-size: 30px;
  }
}
.Health-unit-section .Health-unit-content .Health-unit-info > p {
  font-size: 16px;
}
.Health-unit-section .Health-unit-content .Health-unit-info > h1,
p {
  line-height: 1.6;
}
/* our clinic */
.our-clinic-section {
  padding-block: 50px;
}
.our-clinic-section > .our-clinic-main {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 60px;
}
/* mobile */
@media (max-width: 767px) {
  .our-clinic-section > .our-clinic-main {
    gap: 30px;
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .our-clinic-section > .our-clinic-main {
    gap: 30px;
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
}
.our-clinic-main > form {
  position: relative;
}
.our-clinic-main > form > input {
  padding: 10px 20px 10px 60px;
  border-radius: var(--main-radius);
  border: 1px solid var(--border-color);
  outline: none;
  width: 400px;
}
/* mobile */
@media (max-width: 767px) {
  .our-clinic-main > form > input {
    width: 100%;
  }
}
.our-clinic-main > form > div {
  position: absolute;
  top: 55%;
  left: 22px;
  transform: translateY(-50%);
}
.our-clinic-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 25px;
}

.our-clinic-content .our-clinic-info {
  background-color: var(--white);
  box-shadow: -10px 5px 15px -1px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s 0.1s;
}
.our-clinic-content .our-clinic-info:hover {
  transform: translateY(-10px);
}
.our-clinic-content .our-clinic-info > img {
  width: 100%;
}
.our-clinic-content .our-clinic-info main {
  padding: 20px;
  padding-bottom: 40px;
}
.our-clinic-content .our-clinic-info main > h1 {
  font-size: 25px;
  color: var(--text-color);
}
.our-clinic-content .our-clinic-info main aside {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* .our-clinic-content .our-clinic-info main aside > img {
} */
.our-clinic-content .our-clinic-info main aside > p {
  font-size: 16px;
  color: #777;
}
/* 
    Start Footer
*/
footer {
  background: var(--main-color);
  padding-block: 75px;
}
footer > .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px 30px;
  justify-content: space-between;
}
footer > .container > aside {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer > .container > aside:last-child {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* justify-content: center; */
  align-items: center;
}
footer > .container > aside > h4 {
  color: var(--text-color);
  font-weight: bold;
}
footer > .container > aside > p {
  line-height: 1.6;
}
.website-info{
  display: flex;
  gap: 15px;
  align-items: center;
}
footer > .container > aside > ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer > .container > aside.quick-links > ul > li {
  transition: var(--main-transition);
}
footer > .container > aside.quick-links > ul > li:hover {
  transform: scale(1.1);
}
footer > .container > aside.quick-links > ul > li > a {
  color: var(--text-color);
  margin-left: 10px;
}
footer > .container > aside > .social-icons {
  display: flex;
  align-items: center;
  gap: 25px;
}
/* 
  End Footer
*/
