/* 
variables 
*/
:root {
  --main-color: #e6f1f7;
  --text-color: #044973;
  --button-color: #43d2ff;
  --white: #fff;
  --black: #000;
  --border-color: #ccc;
  --main-radius: 20px;
  --circle-radius: 50%;
  --main-transition: 0.3s;
}
/* 
elements 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', serif;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-inline: 50px;
  margin-inline: 50px;
}
/* mobile */
@media (max-width: 767px) {
  .container {
      padding-inline: 15px;
      margin-inline: 15px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
      padding-inline: 15px;
      margin-inline: 15px;
  }
}
.main-heading {
  color: var(--black);
  font-size: 20px;
  font-weight: bold;
}
.main-heading span {
  color: var(--text-color);
}
/* Navbar */
header {
  background-color: var(--main-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
/* nav > div.logo {} */
nav > div.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}
/* mobile */
@media (max-width: 767px) {
  nav > div.menu {
      flex-direction: row-reverse;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  nav > div.menu {
      flex-direction: row-reverse;
  }
}
nav > div.menu > ul.menu-links {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: row;
  transform: translateX(0);
}
/* mobile */
@media (max-width: 767px) {
  nav > div.menu > ul.menu-links {
      /* display: none; */
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--main-color);
      padding: 20px;
      align-items: center;
      justify-content: center;
      gap: 35px;
      z-index: 999;
      transform: translateX(100%);
      transition: var(--main-transition)
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  nav > div.menu > ul.menu-links {
      /* display: none; */
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      width: 350px;
      height: 100%;
      background-color: var(--main-color);
      padding: 20px;
      align-items: center;
      justify-content: center;
      gap: 35px;
      z-index: 999;
      transform: translateX(100%);
      transition: var(--main-transition)
  }
}
/* laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  nav > div.menu > ul.menu-links {
      transform: translateX(0) !important;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  nav > div.menu > ul.menu-links {
      transform: translateX(0) !important;
  }
}

/* nav > div.menu > ul.menu-links > li {} */
nav > div.menu > ul.menu-links > li > a {
    display: inline-block;
    width: 100%;
    color: var(--black);
    padding: 10px 20px;
    transition: var(--main-transition);
    border-radius: var(--main-radius);
}
nav > div.menu > ul.menu-links > li > a:hover {
  color: var(--white);
  background-color: var(--button-color);
}
/* 
Active Link /
*/
nav > div.menu > ul.menu-links > li > a[href='index.html'] {
  color: var(--white);
  background-color: var(--button-color);
}

nav > div.menu > ul.menu-links > .close-menu-btn {
  display: none;
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--black);
  font-size: 20px;
  transition: var(--main-transition);
  padding: 4px 8px;
  border: 1px solid var(--border-color);
  border-radius: var(--circle-radius);
}

/* Mobile */
@media (max-width: 767px) {
  nav > div.menu > ul.menu-links > .close-menu-btn {
      display: block;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  nav > div.menu > ul.menu-links > .close-menu-btn {
      display: block;
  }
}

nav > div.menu > ul.menu-icons {
  display: flex;
  gap: 25px;
  align-items: center;
}
/* nav > ul.menu-icons > li {} */
/*
Mobile Menu 
*/
nav > div.menu > ul.mobile-menu {
  display: none;
  margin-left: 10px;
}
/* Mobile */
@media (max-width: 767px) {
  nav > div.menu > ul.mobile-menu {
      display: flex;
      align-items: center;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  nav > div.menu > ul.mobile-menu {
      display: flex;
      align-items: center;
      
  }
}
/* Mobile Menu */
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* width: 30px; */
  /* height: 21px; */
  background-color: transparent;
  cursor: pointer;
  border: none;
}
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span {
display: block;
height: 3px;
background-color: var(--black);
transition: var(--main-transition);
}
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span {
  width: 15px;
} 
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span:first-child, 
nav > div.menu > ul.mobile-menu > li > button.mobile-menu-btn > span:last-child {
  width: 20px;
}

/* overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  transition: var(--main-transition);
}
/* laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  .overlay {
      display: none !important;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  .overlay {
      display: none !important;
  }
}
/* 
  End Navbar
*/

/* landing page  */
section.landing-section {
  background: var(--main-color);
  position: relative;
  height: calc(100dvh - 120px);
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding-bottom: 50px; 
}
/* mobile */
@media (max-width: 767px) {
  section.landing-section {
    justify-content: center;
  }
}
        /* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  section.landing-section {
    justify-content: center;
  }
}
section.landing-section > .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
}
/* mobile */
@media (max-width: 767px) {
  section.landing-section > .container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
section.landing-section > .container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
section.landing-section main {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
/* mobile */
@media (max-width: 767px) {
  section.landing-section main {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  section.landing-section main {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
section.landing-section main > h1 {
  line-height: 1.6;
}
section.landing-section main > h1, 
section.landing-section main > p {
  color: var(--text-color);
  font-weight: 600;
}
section.landing-section main > a {
  color: var(--white);
  padding: 10px 20px;
  background: var(--button-color);
  width: fit-content;
  border-radius: var(--main-radius);
  transition: var(--main-transition);
}
section.landing-section main > a:hover {
  background-color: var(--text-color);
}
section.landing-section div.image {
  display: block;
  position: absolute;
  right: 0;
  bottom: 60px;
}
/* mobile */
@media (max-width: 767px) {
  section.landing-section div.image {
    display: none;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  section.landing-section div.image {
    display: none;
  }
}
/* section.landing-section div.image > img {} */

/* Our Services Section  */
.Our-Servants {
  background-color: var(--white);
  margin-block: 30px 60px;
  padding-block: 30px 60px;
}
.our-box {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,auto));
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
.box{
  padding: 25px;
  height: 300px;
  background: var(--white);
  border-radius: var(--main-radius);
  box-shadow: 0px 5px 15px -7px var(--black);
  transition: var(--main-transition);
  cursor: pointer;
  margin-top: 40px;
  border: 1px  solid var(--text-color);
  transform: translateY(0px);
}
.box:hover{
  box-shadow: 0px 5px 15px -5px var(--black);
  transform: translateY(-5px);
}
.box img{
  margin-bottom: 10px;
  background: var(--main-color) ; 
  border:1px solid var(--main-color)  ;
  border-radius: 70px ;
  padding: 20px;
}
.box h1{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.box p{
  font-size: 16px;
}
h1{
  color: var(--black);
}
span{
  color: var(--text-color);      
}
/* 
About Section 
*/
.about{
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 60px;
  padding-bottom: 60px;
  /* padding: 13% 8%;
  gap: 16em;
  background:   #FFFFFF;
  margin-top: -180px;  */
}
/* mobile */
@media (max-width: 767px) {
  .about{
    flex-wrap: wrap;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .about{
    flex-wrap: wrap;
  }
}
.about-img img{
  position: relative;
  /* width: 410px;
  height: 422px; */
}
/* mobile */
@media (max-width: 767px) {
  .about-img {
    width: 100%;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .about-img{
    width: 100%;
  }
}
/* mobile */
@media (max-width: 767px) {
  .about-img img{
    width: 100%;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .about-img img{
    width: 100%;
  }
}
.about-content{
  border-radius: var(--main-radius);
  border: 1px solid var(--border-color) ;
  width: 100%;
  padding: 30px;
}
.about-content h1{
  color:var(--text-color);
  margin-bottom: 30px;
}
.about-content p{
  color: var(--text-color);
  line-height: 1.6;
}
/* 
    Start Footer
*/
footer {
  background: var(--main-color);
  padding-block: 75px;
}
footer > .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px 30px;
  justify-content: space-between;
}
footer > .container > aside {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer > .container > aside:last-child {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* justify-content: center; */
  align-items: center;
}
footer > .container > aside > h4 {
  color: var(--text-color);
  font-weight: bold;
}
footer > .container > aside > p {
  line-height: 1.6;
}
.website-info{
  display: flex;
  gap: 15px;
  align-items: center;
}
footer > .container > aside > ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer > .container > aside.quick-links > ul > li {
  transition: var(--main-transition);
}
footer > .container > aside.quick-links > ul > li:hover {
  transform: scale(1.1);
}
footer > .container > aside.quick-links > ul > li > a {
  color: var(--text-color);
  margin-left: 10px;
}
footer > .container > aside > .social-icons {
  display: flex;
  align-items: center;
  gap: 25px;
}
/* 
  End Footer
*/